<div ng-controller='CallbackFormCtrl'>
<<<<<<< HEAD
    <button type="button" class="btn btn-primary" ng-click='toggleModal()'>{% trans %}callback{% endtrans %}</button>
=======
    <button ng-click='toggleModal()'>{% trans %}callback{% endtrans %}</button>
>>>>>>> f51e16dc6e2782d8a6ee012b018271637e2f54b8
    <modal-dialog show='modalShown' pathget="{{ path('callback_getform') }}" pathsend="{{ path('callback_sendform') }}">
    </modal-dialog>
</div>